/*
    deixa o corpo da minha pagina com os textos de uma determinada cor
    escolho uma fonte para o corpo da pagina, e deixo a margin auto para centralizar 
    todas as marcacões feitas em html.
*/
body{
    color: #333333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

/*
    Aqui deixa o h1 da minha section da pagina sobre com um fundo e um padding de 10px.
*/
#logo-sobre{
    background-color: #c2b0b0;
    padding: 10px;
}

/*
    nessa estilização, deixo o h2 com margin top, que da um espaço na parte de cima,
    e coloco um aborda na parte de baixo do me h2 de historias
*/

#historia{
    margin-top: 30px;
    border-bottom:2px solid #333333;
}

/*
    nessa parte eu deixo todos da minha pagina sobre com uma estilização, essa tem
    uma margin de todos os lados de 10px, com um espaçamento por dentro(padding) de 0 45px
    e deixo ele formatado com o text-align: justify.
*/
.paragrafo-sobre{
    margin: 10px;
    padding: 0 45px;
    text-align: justify;
}

/*
    Aqui vamos centralizar a foto onde mostra o centro de distribuição, essa centralização
    fazemos com o maring-left e margin-right deixando os dois em auto, e definimos um largura para
    ele, com o width.
*/
#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

/*
    mais uma estilização de titúlo, nessa colocamos maring-bottom, que é uma marin em baixo do titúlo
    e espaço na parte de cima tambem, com o margin-top, além de colocar uma bordar só na parte de baixo
    com o border-bottom: 2px solid black, grossura de 2px solida e de cor preta.
*/
#diferenciais{
    margin-bottom: 10px;
    margin-top: 30px;
    border-bottom: 2px solid black;
}

/*
    Aqui tem mais uma estilização nas fotos da pagina sobre, que colocamos um espaçamento com um padding
    e espaçamento por fora da imagem com o margin, mudamos a cor de fundo tambem, com o background-color
    colocamos uma borda por todos os lados, de 1px solida e com uma determinada cor, e centralizamos o conteúdo
    com text-aling: center.
*/
.img-sobre{
    padding: 15px;
    margin: 30px;
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
}

/*
    Esse figcaption serve para colocar titúlo na imagem, e nele estilizamos da seguinte forma
    uma margin só no topo, de 10px, e mudamos a font, deixamos italic.
*/
figcaption{
    margin-top: 10px;
    font-style: italic;
}

/*
    nessa class, que é uma imagem da minha pagina sobre, nela, a gente coloca ela flutuando do lado
    direito, e determinamos uma margin para ela, margin é espaçamento por fora
*/
.familia-pelho{
    float: right;
    margin: 0 0 10px 10px;
}

/*Estilização da pagina index*/

/*
    nessa estilização, nos deixamos a posição do nosso paragrafo absoluta, para podermos mover para o lado
    direito, top 0 diz que queremos colocar no canto e right 0 diz que queremos na direita.

    além de colocarmos uma foto no paragráfo, com o background-imagem, o background-repeat, diz para não preencher o paragráfo todo
    o background-position diz para colocar a foto na direita.

    nessa mesma classe, aumentamos a font e deixamos um espaçamento interno na direita com o padding-right para dar espaço para a foto
    ainda formatamos o texto com para ficar a direita com o text-align e definimos uma lagura com o width.
*/
.sacola{
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;

    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;

    
    padding-top: 8px;
}

.menu-opcoes ul{
    font-size: 15px;
}

.menu-opcoes a{
    color: #003366;
}

.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
}

.container{
    position: relative;
    margin: 0 auto;
    width: 940px;
}

.icones-rodape ul li{
    display: inline;
    margin: 10px;
}

.busca button{

    background-image: url(../img/busca.png);
    background-repeat: no-repeat;
    border: none;

    width: 20px;
    height: 20px;

    text-indent: -9999px;
}

.busca,
.menu-departamento{
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;

    margin-right: 10px;
    width: 230px;
    float: left;
}

.busca h2,
.busca form,
.menu-departamento h2{
    margin: 10px;
}

.menu-departamento li{
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamento a{
    color: #333333;
    text-decoration: none;
}

.menu-departamento{
    clear: left;
}

.busca input[type=search]{
    width: 170px;
}

/*estilizando a section*/

.destaque{
    margin-top: 10px;
}

.menu-departamento{
    margin-top: 10px;
    padding-bottom: 10px;
}

.novidades{
    background-color: #f5dcdc;
    float: left;
}
.mais-vendidos{
    background-color: #dcdcf5;
    float: right;
}

.painel{
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}

.painel h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.painel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
}

/*estilizando o footer*/
footer{
    clear: both;
    padding: 20px 0;
    background-image: url(../img/fundo-rodape.png);
}
footer .container{
    position: relative;
}

.social{
    position: absolute;
    top: 12px;
    right: 0;
}

.social li{
    float: left;
    margin-left: 25px;
}

.social a{
    /*tamanho da imagem*/
    height: 32px;
    width: 32px;
    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"]{
    background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"]{
    background-image: url(../img/twitter.png);
}

.social a[href*="google.com"]{
    background-image: url(../img/googleplus.png);
}