/*
    deixa o corpo da minha pagina com os textos de uma determinada cor
    escolho uma fonte para o corpo da pagina, e deixo a margin auto para centralizar 
    todas as marcacões feitas em html.
*/
body{
    color: #333333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

/*
    Aqui deixa o h1 da minha section da pagina sobre com um fundo e um padding de 10px.
*/
#logo-sobre{
    background-color: #c2b0b0;
    padding: 10px;
}

/*
    nessa estilização, deixo o h2 com margin top, que da um espaço na parte de cima,
    e coloco um aborda na parte de baixo do me h2 de historias
*/

#historia{
    margin-top: 30px;
    border-bottom:2px solid #333333;
}

/*
    nessa parte eu deixo todos da minha pagina sobre com uma estilização, essa tem
    uma margin de todos os lados de 10px, com um espaçamento por dentro(padding) de 0 45px
    e deixo ele formatado com o text-align: justify.
*/
.paragrafo-sobre{
    margin: 10px;
    padding: 0 45px;
    text-align: justify;
}

/*
    Aqui vamos centralizar a foto onde mostra o centro de distribuição, essa centralização
    fazemos com o maring-left e margin-right deixando os dois em auto, e definimos um largura para
    ele, com o width.
*/
#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

/*
    mais uma estilização de titúlo, nessa colocamos maring-bottom, que é uma marin em baixo do titúlo
    e espaço na parte de cima tambem, com o margin-top, além de colocar uma bordar só na parte de baixo
    com o border-bottom: 2px solid black, grossura de 2px solida e de cor preta.
*/
#diferenciais{
    margin-bottom: 10px;
    margin-top: 30px;
    border-bottom: 2px solid black;
}

/*
    Aqui tem mais uma estilização nas fotos da pagina sobre, que colocamos um espaçamento com um padding
    e espaçamento por fora da imagem com o margin, mudamos a cor de fundo tambem, com o background-color
    colocamos uma borda por todos os lados, de 1px solida e com uma determinada cor, e centralizamos o conteúdo
    com text-aling: center.
*/
.img-sobre{
    padding: 15px;
    margin: 30px;
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
}

/*
    Esse figcaption serve para colocar titúlo na imagem, e nele estilizamos da seguinte forma
    uma margin só no topo, de 10px, e mudamos a font, deixamos italic.
*/
figcaption{
    margin-top: 10px;
    font-style: italic;
}

/*
    nessa class, que é uma imagem da minha pagina sobre, nela, a gente coloca ela flutuando do lado
    direito, e determinamos uma margin para ela, margin é espaçamento por fora
*/
.familia-pelho{
    float: right;
    margin: 0 0 10px 10px;
}

/*Estilização da pagina index*/

/*
    nessa estilização, nos deixamos a posição do nosso paragrafo absoluta, para podermos mover para o lado
    direito, top 0 diz que queremos colocar no canto e right 0 diz que queremos na direita.

    além de colocarmos uma foto no paragráfo, com o background-imagem, o background-repeat, diz para não preencher o paragráfo todo
    o background-position diz para colocar a foto na direita.

    nessa mesma classe, aumentamos a font e deixamos um espaçamento interno na direita com o padding-right para dar espaço para a foto
    ainda formatamos o texto com para ficar a direita com o text-align e definimos uma lagura com o width.
*/
.sacola{
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;

    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;

    
    padding-top: 8px;
}

.menu-opcoes ul{
    font-size: 15px;
}

.menu-opcoes a{
    color: #003366;
}

.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
}

.container{
    position: relative;
    margin: 0 auto;
    width: 940px;
}

.icones-rodape ul li{
    display: inline;
    margin: 10px;
}

.busca button{

    background-image: url(../img/busca.png);
    background-repeat: no-repeat;
    border: none;

    width: 20px;
    height: 20px;

    text-indent: -9999px;
}

.busca,
.menu-departamentos{
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;

    margin-right: 10px;
    width: 230px;
    float: left;
}

.busca h2,
.busca form,
.menu-departamentos h2{
    margin: 10px;
}

.menu-departamentos li{
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a{
    color: #333333;
    text-decoration: none;
}

.menu-departamentos{
    clear: left;
}

.busca input[type=search]{
    width: 170px;
}

/*estilizando a section*/

.destaque{
    margin-top: 10px;
}

.menu-departamentos{
    margin-top: 10px;
    padding-bottom: 10px;
}

/*
    nas classes novidades e mais vendidos, eu deixo o fundo de uma determinada cor
    com o background-color e deixo uma flutuando para a esquerda e outra para a direita com[
    float left ou right, coloco tambem um degrader nesses paineis, com o background
    linear gradient onde passo duas cores para usaur como degrader.
*/
.novidades{
    background-color: #f5dcdc;
    float: left;
    background: linear-gradient(#F5DCDC, #BEBEF4);
}
.mais-vendidos{
    background: linear-gradient(#DCDCF5, #F4BEBE);
    background-color: #dcdcf5;
    float: right;
}

/*
    nesse painel, eu deixo os cantos a arredondados com o border-radius, e
    coloco sombra dentro com o box-shadow e passo o tamanho da sombra e a cor,
    alem de determinar um espaçamento por fora do painel e um espaçamento por dentro
    do painel, coloco tambem a largura do painel com o width.
*/
.painel{
    border-radius: 4px;
    box-shadow: inset 1px 1px 4px #999;
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}

.painel h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

    text-shadow: 3px 3px 2px #fff;
    margin-bottom: 10px;
}

.painel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    background-color: white;
    margin: 2px;
    padding-bottom: 10px;
}

.painel li:hover{
    transform: scale(1.2) rotate(-5deg);
    box-shadow: 0 0 5px #333;
    transition: 0.7s ease-in;
}

/*estilizando o footer*/

/*
    Nessa estilização do footer, precisamos dar um clear: both, pois os elementos anteriores estão 
    flutuando, então o bloco do footer, vai até onde encontra outro bloco, dentro do footer, vamos
    dar um espaçamento de 20px, e colocar uma imagem de fundo.
*/
footer{
    clear: both;
    padding: 20px 0;
    background-image: url(../img/fundo-rodape.png);
}

/*
    nessa classe container, vai ser onde as imagens e icones vão ficar, então deixamos ela com
    a posição relativa, pois a posição dos elemtos filhos podem ser relativa.
*/
footer .container{
    position: relative;
}

/*
    nessa classe social, é a classe onde fica os icones de rede social e vamos deixa-la absoluta
    pois queremos move-la para o canto dreito, com o position: absolute, top 12, para dar um espaço de
    12px do topo e right de 0, para deixamos encostado na direita.

    deixamos ela flex, para deixar a lista de icones em linhas, 
*/
.social{
    position: absolute;
    top: 12px;
    right: 0;
}

/*
    nessas class, pegamos os elementos e damos um espaço do lado externo dele de 25px.
*/
.social li{
    float: left;
    margin-right: 25px;
}

/*
    aqui vamos colocar o tamanho dos icones
*/
.social a{
    height: 32px;
    width: 32px;
    display: block;
    text-indent: -9999px;
}

/*
    aqui vamos adcionar as fotos das redes sociais
*/
.social a[href*="facebook.com"]{
    background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"]{
    background-image: url(../img/twitter.png);
}

.social a[href*="google.com"]{
    background-image: url(../img/googleplus.png);
}

/*
    Aqui vamos adicionar uma subclass na parte das categorias. 
    e nessa subclass, vamos deixar ela invisivel com o display none.
*/
.menu-departamentos li ul{
    display: none;
}

/*
    aqui vamos colocar uma animação, de quanto passarmos o mouse, a subclass deixar de ser 
    none para ser block, fazemos isso com a pseudoclass hover e deixamos ela com o display block
*/
.menu-departamentos li:hover ul{
    display: block;
}

/*
    nessa parte vamos selecionar a subclass de departamentos e colocarmos um fundo de uma cor
*/
.menu-departamentos ul ul li{
    background-color: #DCDCDC;
}

/*
    mais uma vez usando a peseudoclass before, usamos ela para colocarmos coisas antes de algum elemento
    e como parametro, passamos o content e mandamos oque queremos colocar antes do elemento.
*/
.menu-departamentos li li a::before{
    content: '- ';
}

@media screen and (max-width: 450px){

    body{
        width: auto;
    }

    .container{
        width: 96%;
    }

    header h1{
        text-align: center;
    }

    header h1 img{
        max-width: 50%;
    }

    .sacola {
        display: none;
    }

    .menu-opcoes{
        position: static;
        text-align: center;
    }

    .menu-opcoes ul li {
        display: inline-block;
        margin: 5px;
    }

    .busca,
    .menu-departamentos,
    .banner-destaque img{
        margin-right: 0;
        width: 100%;
    }

    .painel{
        width: auto;
    }

    .painel li{
        width: 30%;
    }

    .painel img{
        width: 100%;
    }
}